<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Adresbuch.Properties.Settings.AdressbuchprogrammConnectionString"
            connectionString="server=localhost;user id=root;password=gaba89li;database=Adressbuchprogramm;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Adresbuch.Properties.Settings.adressbuchprogrammConnectionString1"
            connectionString="server=localhost;user id=root;password=gaba89li;persistsecurityinfo=True;database=adressbuchprogramm"
            providerName="MySql.Data.MySqlClient" />
        <add name="Adresbuch.Properties.Settings.adressbuchprogrammConnectionString2"
            connectionString="server=localhost;user id=root;password=gaba89li;database=adressbuchprogramm;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>